@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&display=swap");
@import url("//db.onlinewebfonts.com/c/b6cc2553c6cd4804d870d6a2479884ce?family=Futura+PT+Book");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}

/* common classes */
.w-30{
  width: 30%;
}

/* Font Family */
.font-futura {
  font-family: "FuturaPTBook", serif !important;
}
.font-chivo {
  font-family: "Chivo", sans-serif !important;
}
/* Font Size */
.extra-small{
  font-size: 12px;
}

/* Colors */
.gray {
  color: #868686;
}
.font-dark-gray{
  color: #a2a6bb;
}
.light-blue {
  color: #0187aa;
}
.bg-light-blue{
  background-color: #0187aa;
}

/* allblog-pagge-styling */
.Active{
  border-bottom: 3px solid #0187aa;
}
.border-bottom{
  border-bottom:2px solid #c1c1c1;
  width: 374px;
  bottom: 0;
  z-index: -1;
}

.bg-offwhite{
  background-color: #faf3e4;
}
.bg-blue{
  background-color: #0187aa;
}
.fit-content{
  height: fit-content;
}