@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&display=swap");
@import url("//db.onlinewebfonts.com/c/b6cc2553c6cd4804d870d6a2479884ce?family=Futura+PT+Book");
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  scroll-behavior: smooth;
}

/* common classes */
.w-30 {
  width: 30%;
}

/* Font Family */
.font-futura {
  font-family: "FuturaPTBook", serif !important;
}
.font-chivo {
  font-family: "Chivo", sans-serif !important;
}
/* Font Size */
.extra-small {
  font-size: 12px;
}

/* Colors */
.gray {
  color: #868686;
}
.font-dark-gray {
  color: #a2a6bb;
}
.light-blue {
  color: #0187aa;
}
.bg-light-blue {
  background-color: #0187aa;
}
.bg-black {
  background-color: rgba(0, 0, 0, 0.44);
}

/* allblog-pagge-styling */
.Active {
  border-bottom: 3px solid #0187aa;
}
.border-bottom {
  border-bottom: 2px solid #c1c1c1;
  width: 374px;
  bottom: 0;
  z-index: -1;
}

.bg-offwhite {
  background-color: #faf3e4;
}
.bg-blue {
  background-color: #0187aa;
}
.fit-content {
  height: fit-content;
}

/* Animations carousel-One */

@keyframes carousel {
  0% {
    opacity: 0.1;
    width: 20%;
    left: 900px;
    top: -400px;
  }
  25% {
    opacity: 0.3;
    width: 40%;
    left: 450px;
    top: -300px;
  }
  50% {
    opacity: 0.5;
    width: 60%;
    left: 300px;
    top: -200px;
  }
  75% {
    opacity: 0.7;
    width: 80%;
    left: 150px;
    top: -100px;
  }
  100% {
    opacity: 0.9;
    width: 100%;
    left: 0px;
    top: 0px;
  }
}

/* Animations carousel-Two */
.carousel-second .selected {
  position: relative;
  animation-name: carousel;
  animation-timing-function: linear;
  animation-duration: 1s;
}

.carousel-one .selected {
  position: absolute;
  animation-name: carousel;
  animation-timing-function: linear;
  animation-duration: 1s;
}

/* Animation Beauty Category Carousel */
.beauty-carousel .selected {
  position: relative;
  animation-name: beautyCarousel;
  animation-timing-function: linear;
  animation-duration: 1s;
}
.beauty-carouseltwo .selected {
  position: relative;
  animation-name: beautyCarousel;
  animation-timing-function: linear;
  animation-duration: 1s;
}
@keyframes beautyCarousel {
  0% {
    opacity: 0.1;
    width: 20%;
    left: 900px;
    top: -400px;
  }
  25% {
    opacity: 0.3;
    width: 40%;
    left: 450px;
    top: -300px;
  }
  50% {
    opacity: 0.5;
    width: 60%;
    left: 300px;
    top: -200px;
  }
  75% {
    opacity: 0.7;
    width: 80%;
    left: 150px;
    top: -100px;
  }
  100% {
    opacity: 0.9;
    width: 100%;
    left: 0px;
    top: 0px;
  }
}

.beauty-carousel .previous {
  position: absolute;
  animation-name: beautyPrevious;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes beautyPrevious {
  0% {
    opacity: 0.1;
    width: 100%;
    left: 0px;
    top: 0px;
  }
  25% {
    opacity: 0.3;
    width: 80%;
    left: -50px;
    top: -50px;
  }
  50% {
    opacity: 0.6;
    width: 60%;
    left: -100px;
    top: -100px;
  }
  75% {
    opacity: 0.7;
    width: 40%;
    left: -150px;
    top: -150px;
  }
  100% {
    opacity: 0.9;
    width: 20%;
    left: -200px;
    top: -200px;
  }
}

.beauty-carouseltwo .previous {
  position: relative;
  animation-name: beautyPreviousTwo;
  animation-timing-function: linear;
  animation-duration: 1s;
}
@keyframes beautyPreviousTwo {
  0% {
    opacity: 0.1;
    width: 100%;
    left: 0px;
    top: 0px;
  }
  25% {
    opacity: 0.3;
    width: 80%;
    left: -50px;
    top: 50px;
  }
  50% {
    opacity: 0.6;
    width: 60%;
    left: -100px;
    top: 100px;
  }
  75% {
    opacity: 0.7;
    width: 40%;
    left: -150px;
    top: 150px;
  }
  100% {
    opacity: 0.9;
    width: 20%;
    left: -200px;
    top: 200px;
  }
}
.scrollSections {
  /* height: 100vh; */
  height: 100vh;
  overflow: hidden;
}
.section {
  height: 100vh;
  overflow: hidden;
  transition: height 0.8s ease-in-out;
}

/* hide scrollBar */
.hide-scroll::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
/* NavView */
.nav-view{
 animation-name: width;
  animation-timing-function: linear;
  animation-duration: 0.8s;
  overflow: hidden;

}
@keyframes width {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}